html {
  text-align: center;
}

#root {
  width: 80%;
  margin: 0px auto;
}

Form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-card {
  border: solid blueviolet 2px;
  box-shadow: 5px 10px #888888;
  padding: 10px;
  margin: 20px;
  width: 40%;
}
